@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

body{
    width: 100%;
    height:100vh;
    background-color: #e0e0e0;
    font-family: 'Josefin Sans', sans-serif;
    overflow: auto;
}

.pannel{
    background-color:#e0e0e0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
}


.bstbox{
    width:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: white;
    border:2px solid grey;
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.bsttab{
    display: flex;
    width:350px;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.topbst{
    display: flex;
    width:365px;
    justify-content: space-between;
    margin-left: 10px;
    padding: 10px;
    margin: 10px;
    font-weight:bold;
    font-family: 'Josefin Sans', sans-serif;
}
.regtop{
    padding-left: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.bstbox ul li p{
    font-family: 'Josefin Sans', sans-serif;
}

.bsttitle{
    width:500px;
    font-size: 13pt;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    
}

.csbs,.ece,.cse,.mech,.civil,.eee,.aids,.it{
    width:200px;
    height:20px;
    margin-left: 20px;
    background-color: aquamarine;
    border-radius: 10px;
}
/* .csbs{
    background-color: red;
}
.ece{
    background-color: blue;
}
.cse{
    background-color: green;
}
.it{
    background-color: yellowgreen;
}
.mech{
    background-color: orangered;
}
.civil{
    background-color: aqua;
}
.aids{
    background-color: purple;
}
.eee{
    background-color: yellow;
} */

.analy{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background: white;
    border:2px solid grey;
    width:500px;
    font-family: 'Josefin Sans', sans-serif;
}

.tab{
    display: flex;
    justify-content: start;
    padding: 5px;
    padding-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
}
.tab p{
    width:70px;
    font-family: 'Josefin Sans', sans-serif;
}

.contpan{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bodypan{
    display:flex;
    justify-content: center;
}
.sidebar{
    background-color: aqua;
    width: 150px;
    
}