.Login{
    display:none;
}

.testBut{
    background-color: rgb(0, 140, 255);
    width: 120px;
    
}
.butCont{
    background-color: aqua;
    width:20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.Form-Test1,.Form-Test2,.From-Test3{
    display: none;
}

.QTemplate{
    display: none;
}

.mark{
    display: none;
}

.TestHome{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

