.HeaderWeb{
    background-color:lightgray;
    display:flex;
    justify-content: space-around;
    height:45px;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 0;
}